body {
  background-color: #121213 ;

#gameboard {
  table-layout: fixed ;
}

td {
  border: 2px solid #3A3A3C ;
  width: 64px;
  font-size: 200%;
  height: 64px;
  font-family: monospace;
  text-align: center;
  color: white;
  font-weight: bold;
}

.g { /* _g_reen. */
  border: 1px solid #121213 ;
  background-color: #538D4E ;
}

.y { /* _y_ellow */
  border: 1px solid #121213 ;
  background-color: #B59F3B ;
}

.r { /* g_r_ay. I thought misses where in red not in gray - whoops. */
  border: 1px solid #121213 ;
  background-color: #3A3A3C ;
}
